.*.rej
*.rej
.*~
*~
.#*

Logs/
build/

#Intelij (Pycharm) project directory
.idea/

# vim swap files
*.swp
*.swo
*.swn

# virtual environment
.venv/

# additional patterns:
*.pyc
*.pyo
*.gz
*.bz2
*.orig
